body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 20px;
    background-color: var(--background-color);    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /*100% высота от окна браузера*/    
}
.greeting{
    font-family: initial;
}
.description{
    margin: 0 50px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 6f 1f;
    grid-template-rows: 1f 1f;
    grid-template-areas: 
    "A A"
    "B F";    
}
.box{    
    padding: 10px;    
}
.A{
    grid-area: A;
}
.B{
    grid-area: B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.F{
    grid-area: F;
    text-align: right;
    align-content: end;
    font-size: 16px;
}

.btn {
    padding: 7px 28px;
    border-radius: 3px;
    background-color: var(--btn-color);
    color: #fff;
    text-decoration: none;    
    font-size: 25px;
}

.btn:hover{
    border: 2px solid var(--btn-border-hover);
    background-color: var(--btn-color-hover);
    border-radius: 5px;
}

.font{
    font-style: italic;
}