/*Переменные для удобства*/
:root{
    --background-color: #5f93ce; /*Цвет фона страниц*/
    --btn-color: rgb(18, 184, 18); /*Цвет фона кнопок*/
    --btn-color-text: rgba(247, 249, 250, 0.644); /*Цвет текста кнопок*/
    --btn-color-hover: rgb(159, 184, 48); /*Цвет кнопок при наведении мыши*/
    --btn-border-hover: rgb(168, 32, 32); /*Цвет границ кнопок при наведении мыши*/
    --border-color:rgb(111, 199, 70); /*Цвет границ*/
    --input-color: rgb(160, 27, 27); /*Цвет текста, вводимого пользователем*/
    --input-background-color: rgb(173, 162, 162); /*Цвет фона текста, вводимого пользователем*/
    --input-border-color: rgb(148, 20, 20); /*Цвет границ текста, вводимого пользователем*/
}